@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.pixel-font {
  font-family: "Press Start 2P", monospace;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.pixel-btn {
  @apply border-4 border-black px-6 py-3 text-xs text-white
         shadow-[4px_4px_0_rgba(0,0,0,1)]
         hover:-translate-y-1 active:translate-y-1
         transition-all font-mono;
}
.pixel-btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
