---
import Layout from "../layouts/Layout.astro";
import Player from "../components/Player.astro";
import Level from "../components/Level.astro";
import "../styles/global.css";
---

<Layout title="Game Portfolio">
  <main
    class="h-screen w-screen overflow-x-scroll overflow-y-hidden
           snap-x snap-mandatory scroll-smooth"
  >
    <div class="flex h-full w-[300vw]">
      <Level bg="bg-blue-500">
        <Level bg="bg-[#4ade80]" />
        <Level bg="bg-[#facc15]" />
      </Level>

      <Player />
    </div>
  </main>
</Layout>
